{% extends 'accounts/main.html' %}

{% block content %}

    <br>

    <div class="row">

        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            
            {% for message in messages %}
                <div class="card card-body">
                    {{ message }}
                </div>
            {% endfor %}
            
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>

                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

    <!-- ! Display none attention -->
    <div style="display: none;" class="row">

        <div class="col-md">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>
                        AddTag {{ form_tag.name }}
                        <input class="btn btn-sm btn-success" type="submit" value="+">
                    </p>
                </form>
                <br>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form_product.as_p }}
                    <input class="btn btn-md btn-primary" type="submit" value="Add Product">
                </form>
        </div>
    </div>

{% endblock %}